<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		
		
	<!-- 配置spring自动扫描组件,使用注解 -->
	<context:component-scan base-package="com.eshop" />
	<!-- 访问springmvc动态资源,可以通过HandlerAdapter调用action运行业务逻辑生成ModelAndView -->
	<mvc:annotation-driven />
	<!-- 访问静态资源 -->
	<mvc:default-servlet-handler />
	
	<mvc:resources mapping="/images/**" location="/images/"></mvc:resources>
	<mvc:resources mapping="/common/**" location="/common/"></mvc:resources>
	<mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
	
	<!--设置CommonsMultipartResolver,用于springmvc文件上传功能 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 此处20971520=20*1024*1024,规定上传文件最大不超过20M -->
		<property name="maxUploadSize" value="20971520"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="resolveLazily" value="true"></property>
	</bean>
	



	<!-- 配置springmvc默认的视图解析器ViewResolver：InternalResourceViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	
	<!-- 2-配置数据源（c3p0+数据库连接信息） -->
	<context:property-placeholder location="classpath:db.properties"/>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${connection.driver_class}"></property>
		<property name="jdbcUrl" value="${connection.url}"></property>
		<property name="user" value="${connection.username}"></property>
		<property name="password" value="${connection.password}"></property>
		<property name="minPoolSize" value="${c3p0.min_size}"></property>
		<property name="maxPoolSize" value="${c3p0.max_size}"></property>
		<property name="acquireIncrement" value="${c3p0.acquire_increment}"></property>
		<property name="idleConnectionTestPeriod" value="${c3p0.idle_test_period}"></property>
		<property name="checkoutTimeout" value="${c3p0.timeout}"></property>
		<property name="maxStatements" value="${c3p0.max_statements}"></property>
	</bean>
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 3-配置SessionFactory（Spring4为Hibernate4提供的SessionFactory对象） -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="mappingLocations" value="classpath:com/eshop/dao/pojo/*.hbm.xml"></property>	
	</bean>
	
	<!-- 4-基于Service层配置事务：AOP，当用户使用@Transactional注解时，启动并关闭事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	
	
	
	
	

	

	
	
</beans>





